MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT=8493

JWT_Token="replace_with_a_long_random_secret"
CLIENT_URL=http://localhost:5173
X_API_KEY=replace_with_a_random_api_key
MAILTRAP_TOKEN=replace_with_your_mailtrap_token
